body {
  display: flex;
}

/* TODO: dark and light mode variables */

aside {
  width: 200px;
}

.placeholder-name {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid black;
}

.note-area {
  width: 100%;
  height: 100%;
}
