aside {
  width: 200px;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.closed {
  display: none;
}

h1 {
  padding: 10px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

li {
  text-decoration: none;
  padding: 3px 5px 2px 10px;
  cursor: pointer;
}
li:hover:not(.selected) {
  background-color: #ececec;
}

.selected {
  color: white;
  background-color: #1b8eff;
}

.center {
  text-align: center;
  margin-top: 10px
}

.center span {
  padding: 5px 10px;
  margin: auto
}

.center span:hover {
  border-radius: 8px;
  background-color: #ececec;
  cursor: pointer;
}
